<!DOCTYPE html>
<html lang="en">
<head>
    <title>Webpage Design</title>
    <link rel="stylesheet" href="static/index.css">
</head>
<body>

    <div class="main">
        <div class="navbar">
            <div class="icon">
            </div>
            

        </div> 
        <div class="content">
            <h1>Mass Emailing</h1>
            <p class="par"> Mass emailing has become a common practice for businesses and organizations to<br>
                reach out to a large number of people in a cost-effective manner. AWS Lambda provides a powerful<br>
                and flexible solution for mass emailing, allowing developers to send bulk emails using the Simple<br>
                Email  Service  (SES).In  this  research and  analysis  paper,  we  will  explore  the  benefits<br>
                and challenges of mass emailing  using  AWS  Lambda,  along  with  some  best  practices  for<br>
                implementing this solution.<br>  
                <br> </p>

                
                <div class="form">
                    <button class="btnn"><a href="/login">Login</a></button>

                    <p class="link">Don't have an account<br>
                    <a href="/signup">Sign up </a> here</a></p>
                    </div>

                </div>
                    </div>
                </div>
        </div>
    </div>
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
</body>
</html>
